body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
.display_latest_background > img{
    height: 90vh;
    width: 100%;
    filter: brightness(50%);
    z-index: -1;
    position: fixed;
    top: 0;
    object-fit: cover;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
}
.logo{
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.logo > img{
    height: 80px;
    width: 150px;
    object-fit: cover;
}
ul, li{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.right_panel{
    display: flex;
    position: absolute;
    right: 20px;
    gap: 30px;
}
.op{
    height: 30px;
    width: 30px;
}
.op > img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.main_page{
    margin-top: 180px;
}
.display_latest_name{
    width: 300px;
}
.display_latest_name > img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-left: 80px;
}
.display_movie_btn{
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 80px;
    gap: 20px;
}
.btn_play, .btn_watch_later{
    width: 150px;
    height: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    place-content: center;
    background-color: white;
    color: black;
    border-radius: 50px;
}
.content_block{
    background-color: black;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 1);
    width: 100%;
    margin-top: 30px;
}
.movie_section_name {
    font-weight: bold;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    place-content: center;
    justify-content: center;
}
.movies {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.movies .item {
    border-radius: 10px;
    overflow: hidden;
}

.movies .item img {
    width: 100%;        /* fit inside the item */
    height: auto;
    display: block;
    object-fit: cover;  /* crop instead of stretch */
    border-radius: 10px;
}

.owl-nav button {
    background: transparent;
    color: black;
    font-size: 8rem;
    border: none;
    outline: none;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
    position: absolute;
    top: 35%;
}

.owl-nav button.owl-prev {
    left: 25px;
}

.owl-nav button.owl-next {
    right: 25px;
}
.owl-nav button.owl-prev:hover {
    left: 25px;
}

.owl-nav button.owl-next {
    right: 25px;
}

.game_section_name{
    font-weight: bold;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    place-content: center;
    justify-content: center;
}
.games{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
    overflow: scroll;
}
.games::-webkit-scrollbar {
  display: none;
}
.games > img{
    border-radius: 20%;
}
.movies > img{
    border-radius: 10px;
}
.t10movies {
  margin-top: 10px;
  position: relative;
  overflow: hidden; 
}

.t10movie_block {
  height: 200px;
  display: flex;
  position: relative;
}

.t10movie_rank {
  height: 200px;
  font-size: 200px;
  display: grid;
  place-content: center;
  position: absolute;
  font-weight: bold;
  color: black;
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

.t10movie_img {
  position: absolute;
  margin-left: 75px;
  margin-top: 15px;
  height: 200px;
  display: grid;
  place-content: center;
}
.t10movie_img > img {
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.footer{
    height: 500px;
    width: 100%;
    margin-top: 20px;
    display: grid;
    place-content: center;
    color: rgb(136, 136, 136);
}
.social_links{
    display: flex;
    gap: 20px;
}
.social_links > img:hover{
    cursor: pointer;
}

.extra_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 15px;
    gap: 50px;
}
.extra_items:hover{
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.btn_service_code{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border: 2px solid rgb(136, 136, 136);
    justify-content: center;
    place-content: center;
    text-align: center;
}
.btn_service_code:hover{
    background-color: white;
    border: 2px solid white;
    color: black;
    transition: 0.1s;
}
.social_links > img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.copyright_declaration{
    margin-top: 20px;
    font-size: 10px;
}